<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../Favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylethree.css">

    <title>Clinical Cases</title>

</head>
<body>
    <header>
        <h1>Ops... It's actually A Gigabyte of Medicine</h1>
    </header>
    <nav>
        <a href="../index.html"target="_self" rel="next"><strong>Home</strong></a>    
        <a href="../Perfil/index.html"target="_self" rel="next"><strong>Perfil</strong></a>                 
        <a href="../SelectTypeCases/escolhaccrc.html"target="_self" rel="next"><strong>Casos Clínicos</strong></a>        
        <a href="../Methods/index.html"target="_self" rel="next"><strong>Métodos de Estudo</strong></a>                         
    </nav>
    <main>
        <div class="container">
            <div class="card">
                <div class="content">
                    <strong><h2>Escolha a Especialidade</h2></strong>
                    <a href="#">
                        <div class="especialidade">Pediatra</div>
                    </a>
                    <a href="#">
                        <div class="especialidade">Neurologia</div>
                    </a>
                    <a href="#">
                        <div class="especialidade">Urologia</div>
                    </a>
                    <a href="#">
                        <div class="especialidade">Cardiologia</div>
                    </a>
                    <a href="#">
                        <div class="especialidade">Pneumologia/div>
                    </a>
                    <a href="#">
                        <div class="especialidade">Gastroentrologia</div>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>Projeto de extensão: A Bit of Medicine PUC - Minas Betim Medicina (2022)</p>
    </footer>

</body>
</html>