@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400&display=swap');

@keyframes casosreais {
    0% {
        font-size: 0.5em;
        margin-left: 100vw;
}
    100% {
        font-size: 3em;
        margin-left: 20px;
    }
}
@keyframes casoscriados {
    0% {
        font-size: 0.5em;
        margin-right: 100vw;
}
    100% {
        font-size: 3em;
        margin-right: 20px;
    }
}
@keyframes img {
    from {
        width: 220px;
        height: 225px;        
    }
    to {
        width: 440px;
        height: 450px;
    }
}

:root {
    --colorOne: #6DAEDB;
    --colorTwo: #2FA7F6;
    --colorThree: #1D70A2;
    --colorFour: #1B4353;
    --colorFive: #173753;
    --colorSix: #A5A5A5;

    --fontOne: 'Bebas Neue', cursive;
    --fontTwo: 'Redacted Script', cursive;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    height: 100vp;
    background: black linear-gradient(135deg, var(--colorTwo), var(--colorTwo) 50%, var(--colorFive) 50%, var(--colorFive)) bottom no-repeat;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--colorFive);
}

a {
    text-decoration: none;
    color: black;
}

#casosreais{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-left: 20px;
    margin-top: 10px;
    font-size: 3em;
    font-family: var(--fontOne);
    color: black;
    user-select: none;
    animation-name: casosreais;
    animation-duration: 3s;
}
#casoscriados{
    position: absolute;
    bottom: 0%;
    right: 0%;  
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 3em;
    font-family: var(--fontOne);
    color: white;
    user-select: none;
    animation-name: casoscriados;
    animation-duration: 2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container .card {
    width: 440px;
    height: 450px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(156, 156, 156, 0.144);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    animation-name: img;
    animation-duration: 2s;
}
.content h1{
    margin-bottom: 8px;
    font-family: var(--fontTwo);
    text-align: center;
    font-size: 2.5em;
    user-select: none;

}
.content p{
    margin: 0px 30px;
    font-family: var(--fontTwo);
    text-align: justify;
    font-size: 1.2em;
    user-select: none;
}